@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .page {
    @apply w-[30px] h-[30px] cursor-pointer rounded-full shadow-md  text-center py-1 ring-gray-400 ring-1 m-4;
  }

  .opened {
    @apply bg-gray-900 text-white;
  }

  .fact {
    @apply font-bold m-5 inline-block my-0 w-[80px];
  }

  * {
    user-select: none;
  }

  img {
    transition: 0.1s;
  }

  .loader {
    position: relative;
    background-color: #bdbdbd;
    overflow: hidden;
  }

  .loader::before {
    z-index: 5;
    animation: loading 1s infinite;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, white, transparent);
  }

  .loader img {
    position: relative;
    z-index: 10;
  }

  @keyframes loading {
    from {
      left: -50%;
    }
    to {
      left: 50%;
    }
  }
}
